body {
    background-color: blue
}

#wrapper {
    width: 950px;
    margin-right: auto;
    padding-top: 5%;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 50%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}

input {
    height: 36px;
    font-size: 24px;
    display: block;
    width: 100%;
    background-color: greenyellow;
}

textarea {
    height: 200px;
    font-size: 18px;
    display: block;
    width: 100%;
    background-color: purple;
}